<div class="container">
 <div class="row">
  <div class = "col-md-3">
    <h2>User info</h2>
  <table class="table">
    <tbody>
     <tr><%= image_tag @user.get_profile_image(50,50) %></tr>
    <tr><th>name</th><th><%= @user.name %>さん</th></tr>
    <tr><th>introduction</th><th><%#= user.introduction %></th></tr>
    </tr>
    <tr>
    <th>follows</th>
    <th><%= link_to @user.followings.count, user_followings_path(@user) %></th>
    </tr>
    <tr>
    <th>followers</th>
    <th><%= link_to @user.followers.count, user_followers_path(@user) %></th>
    </tr>
   </tbody>
  </table>
  <%= link_to edit_user_path(@user.id),class:"btn btn-outline-secondary btn-block" do %>
   <i class="fas fa-user-cog"></i>
  プロフィール編集
  <% end %>

  <%= link_to favorites_user_path(@user.id),class:"btn btn-outline-secondary btn-block" do %>
  いいね一覧
  <% end %>
  </div>

  <div class = "col-md-9">
   <% if @post_images.exists? %>
   <table class='table table-hover table-inverse'>
    <thead>
    <tr>
    <th>いいね一覧</th>
    <th></th>
    <th></th>
    <th></th>
    </tr>
    </thead>
    <tbody>
   　<% @favorite_post_images.each do |post_image|%>
    　<tr>
      <td><%= link_to admins_post_image_path(:admin,post_image.id) do %>
           <%= image_tag post_image.get_image, :size =>'100x100' %>
           <% end %>
      </td>
      <td><%= post_image.recipe_name %></td>
      <td><%= post_image.user.name %><%= image_tag post_image.user.get_profile_image(50,50) %></td>
      <td>作り方:<%= post_image.caption %></td>
      <td><%= link_to "#{post_image.post_comments.count} コメント",admins_post_image_path(:admin,post_image.id) %></td>
     </tr>
     </tbody>
    <% end %>
 </table>
<% else %>
<% end %>
  <table class='table table-hover table-inverse'>
  <thead>
   <tr>
     <th>投稿一覧</th>
     <th></th>
     <th></th>
     <th></th>
     <th></th>
     <th></th>
    </tr>
   </thead>
    <tbody>
       <% @post_images.each do |post_image| %>
       <tr>
        <td>
         <%= link_to admins_post_image_path(post_image.id) do %>
          <%= image_tag post_image.get_image, :size =>'100x100' %>
         <% end %>
        </td>
        <td><%= post_image.recipe_name %></td>
         <!--ユーザーネーム・ユーザー写真--->
         <td><%= post_image.user.name %><%= image_tag post_image.user.get_profile_image(50,50) %></td>
         <td>作り方:<%= post_image.caption %></td>
                              <%# byebug %>
         <td>♥<%= post_image.favorites.count %>いいね</td>
         <td><%= link_to "#{post_image.post_comments.count} コメント",admins_post_image_path(:admin,post_image.id) %></td>
       </tr>
       <% end %>
     </table>
    </tbody>
  </div>
  </div>
 </div>
