<div class="container">
 <div class="row">
  <div class = "col-md-3"> </div>
  <div class = "col-md-9">
   <h1>レシピ投稿フォーム</h1>

 <% if @post_image.errors.any? %>
 <%= @post_image.errors.count %>件のエラーが発生しました
 <ul>
  <%= @post_image.errors.full_messages.each do |message| %>
   <li><%= message %></li>
  <% end %>
  </ul>
 <% end %>

  <%= form_with model: @post_image do |form| %>
    <h4>画像</h4>
      <p><%= form.file_field :image, accept: "image/*" %></p>
    <h4>料理名</h4>
      <p><%= form.text_field :recipe_name %></p>
    <h4>材料</h4>
      <div id="ingredient-forms">
        <%= form.fields_for :ingredients do |ingredient| %>
          <% render 'ingredient_fields', f: ingredient %>
        <% end %>
      </div>

  <div class="links">
     <div class="col text-center mt-3 mb-3">
        <%= link_to_add_association form, :ingredients, data: {
        association_insertion_node: '#ingredient-forms',
        association_insertion_method: 'append' } do %>
          <button class="btn btn-success" >
            <i class="nav-icon fas fa-tasks"></i> 追加
          </button>
        <% end %>
     </div>
  </div>


    <h4>作り方</h4>
      <div id="caption-forms" >
        <%= form.fields_for :captions do |caption| %>
          <% render 'caption_fields', f: caption %>
        <% end %>
      </div>

  <div class="links">
     <div class="col text-center mt-3 mb-3">
        <%= link_to_add_association form, :captions, data: {
        association_insertion_node: '#caption-forms',
        association_insertion_method: 'append' } do %>
          <button class="btn btn-success" >
            <i class="nav-icon fas fa-tasks"></i> 追加
          </button>
        <% end %>
     </div>
  </div>

      <%= form.submit '投稿' %>
  <% end %>

  </div>

</div>
</div>
