<body class="d-flex flex-column vh-100">
<header class="shadow-sm">
  <nav class="navbar navbar-expand-lg nabvar-light">
    <div class="container">
      <a class="nabvar-brand p-3" href="/"></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


        <% if user_signed_in? %>

        <%= link_to "レンジdeレシピ",root_path, class: 'nav-link text-dark' %>
        <!--検索機能-->
        <%= render 'layouts/search' %>

        <%= link_to 'Guest', users_guest_sign_in_path, method: :post, class: 'nav-link text-dark' %>

        <%= link_to "Recipe",post_images_path, class: 'nav-link text-dark' %>

        <%= link_to "User",users_path, class: 'nav-link text-dark' %>

        <%= link_to "Post",new_post_image_path, class: 'nav-link text-dark' %>

        <%= link_to "Mypage",user_path(current_user.id), class: 'nav-link text-dark' %>

        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'nav-link text-dark' %>

        <% elsif admin_signed_in? %>
        <%= link_to "Admin Log out", destroy_admin_session_path, method: :delete,class: 'nav-link text-dark' %>

        <% else %>

        <%= link_to 'AdminLogin', new_admin_session_path, class: 'nav-link text-dark' %>

        <%= link_to 'Guest', users_guest_sign_in_path, method: :post, class: 'nav-link text-dark' %>

        <%= link_to "Recipe",post_images_path, class: 'nav-link text-dark' %>

        <%= link_to "Sign up",new_user_registration_path, class: 'nav-link text-dark' %>

        <%= link_to "Login",new_user_session_path, class: 'nav-link text-dark' %>

        <% end %>

        <%# if admin_signed_in? %>
        <%#= link_to "Admin Log out", destroy_admin_session_path, method: :delete,class: 'nav-link text-dark' %>
        <%# else %>

        <%# end %>
    </div>
  </nav>
</header>
</body>